// Includes for page layout and individual widgets
include ./components/layout.pug
include ./components/mixins.pug

// Include Page Header
+header("See3D - Blog", "Blog")

// ================Blog Area =================
section.blog_area.section-padding
  .container
    .row
      .col-lg-2
      .col-lg-8.mb-5.mb-lg-0
        .blog_left_sidebar
        style.
          .blog_item_img {
            width: 100%;
            height: 500px;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
          }

        each val in posts
          article.blog_item
            .blog_item_img(style=`background-image: url('${strapi_url}${val.attributes.coverPhoto.data.attributes.url}')`)
              span(role='img', aria-label=`${val.attributes.coverPhoto.data.attributes.alternativeText}`)
              a.blog_item_date(href='#')
                h3(style="text-align: center;")=val.attributes.day
                p=val.attributes.month
            .blog_details
              a.d-inline-block(href=`blog?id=${val.id}`)
                h2=val.attributes.title
              p=val.attributes.previewDescription 

      .col-lg-2

// Include Page Footer
+footer()
