// Includes for page layout and individual widgets
include ./layout.jade
include ./mixins.jade

// Include Page Header
+header("See3D - Blog", "Blog")

// ================Blog Area =================
section.blog_area.section-padding
  .container
    .row
      .col-lg-8.mb-5.mb-lg-0
        .blog_left_sidebar
        each val in result
          article.blog_item
            .blog_item_img
              img.card-img.rounded-0(src='img/blog_posts/#{val._id}.jpg', alt='#{val.alt_text}')
              a.blog_item_date(href='#')
                h3 #{new Date(val.date).getDate()}
                p #{val.month}
            .blog_details
              a.d-inline-block(href='blog.html?id=#{val._id}')
                h2 #{val.title}
              p
                | #{val.article_description}
              ul.blog-info-link
                li
                  a(href='#')
                    i.fa.fa-user
                    |  #{val.category.split(',')[0]}
                //
                  li
                    a(href='#')
                      i.fa.fa-comments
                      |  #{val.comments.length} Comments

        nav.blog-pagination.justify-content-center.d-flex
          ul.pagination
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                i.ti-angle-left
            li.page-item
              a.page-link(href='#') 1
            li.page-item.active
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#', aria-label='Next')
                i.ti-angle-right
      .col-lg-4
        .blog_right_sidebar
          aside.single_sidebar_widget.search_widget
            form(action='#')
              .form-group
                .input-group.mb-3
                  input.form-control(id='search_field', type='text', placeholder='Search Keyword', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Search Keyword'")
                  .input-group-append
                    button.btn(type='button', onClick="parent.location=`blog.html?search=${document.getElementById('search_field').value}`")
                      i.ti-search
              button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit', onClick="parent.location=`blog.html?search=${document.getElementById('search_field').value}`") Search
          //
            <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>
            <ul class="list cat-list">
            <li>
            <a href="#" class="d-flex">
            <p>Resaurant food</p>
            <p>(37)</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex">
            <p>Travel news</p>
            <p>(10)</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex">
            <p>Modern technology</p>
            <p>(03)</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex">
            <p>Product</p>
            <p>(11)</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex">
            <p>Inspiration</p>
            <p>21</p>
            </a>
            </li>
            <li>
            <a href="#" class="d-flex">
            <p>Health Care (21)</p>
            <p>09</p>
            </a>
            </li>
            </ul>
            </aside>
          //- aside.single_sidebar_widget.popular_post_widget
          //-   h3.widget_title Recent Post
          //-   .media.post_item
          //-     img(src='img/post/post_1.png', alt='post')
          //-     .media-body
          //-       a(href='single-blog.html')
          //-         h3 From life was you fish...
          //-       p January 12, 2019
          //-   .media.post_item
          //-     img(src='img/post/post_2.png', alt='post')
          //-     .media-body
          //-       a(href='single-blog.html')
          //-         h3 The Amazing Hubble
          //-       p 02 Hours ago
          //-   .media.post_item
          //-     img(src='img/post/post_3.png', alt='post')
          //-     .media-body
          //-       a(href='single-blog.html')
          //-         h3 Astronomy Or Astrology
          //-       p 03 Hours ago
          //-   .media.post_item
          //-     img(src='img/post/post_4.png', alt='post')
          //-     .media-body
          //-       a(href='single-blog.html')
          //-         h3 Asteroids telescope
          //-       p 01 Hours ago
          //
            <aside class="single_sidebar_widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list">
            <li>
            <a href="#">project</a>
            </li>
            <li>
            <a href="#">love</a>
            </li>
            <li>
            <a href="#">technology</a>
            </li>
            <li>
            <a href="#">travel</a>
            </li>
            <li>
            <a href="#">restaurant</a>
            </li>
            <li>
            <a href="#">life style</a>
            </li>
            <li>
            <a href="#">design</a>
            </li>
            <li>
            <a href="#">illustration</a>
            </li>
            </ul>
            </aside>
          //- aside.single_sidebar_widget.instagram_feeds
          //-   h4.widget_title Instagram Feeds
          //-   ul.instagram_row.flex-wrap
          //-     li
          //-       a(href='#')
          //-         img.img-fluid(src='img/post/post_5.png', alt='')
          //-     li
          //-       a(href='#')
          //-         img.img-fluid(src='img/post/post_6.png', alt='')
          //-     li
          //-       a(href='#')
          //-         img.img-fluid(src='img/post/post_7.png', alt='')
          //-     li
          //-       a(href='#')
          //-         img.img-fluid(src='img/post/post_8.png', alt='')
          //-     li
          //-       a(href='#')
          //-         img.img-fluid(src='img/post/post_9.png', alt='')
          //-     li
          //-       a(href='#')
          //-         img.img-fluid(src='img/post/post_10.png', alt='')
          //
            aside.single_sidebar_widget.newsletter_widget
              h4.widget_title Newsletter
              form(action='#')
                .form-group
                  input.form-control(type='email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email'", placeholder='Enter email', required='')
                button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Subscribe
// ================Blog Area =================

// Include Page Footer
+footer()
