// Includes for page layout and individual widgets
include ./components/layout.pug
include ./components/mixins.pug

+header("See3D - Gallery", "Photo Gallery")

//- Fix Wrong Color on Pagination Selector
style.
	body {
		background: #F5F7FA !important;
	}

	.page-item.active .page-link {
		background: #7cc8ff !important;
	}

// / bradcam_area
// about_start
.popular_catagory_area
	.container
		.row.gallery-item
			each val, index in gallery_data
				.col-md-4
					a.img-pop-up(aria-label='View Image in Gallery Viewer', href=val.url alt=val.alt_text)
						.single-gallery-image(alt=val.alt_text style=`background: url('${val.url}');`)
// about_end
nav.blog-pagination.justify-content-center.d-flex(style='margin-bottom: 40px;')
	ul.pagination
		li.page-item(style=`display: ${arrow_disp[0]};`)
			a.page-link(href=`gallery.html?p=${minus_arrow}`, aria-label='Previous')
				i.ti-angle-left
		li.page-item(class=`${number_active[0]}`)
			a.page-link(href=`gallery.html?p=${number[0]}`)=number[0]
		li.page-item(class=`${number_active[1]}`)
			a.page-link(href=`gallery.html?p=${number[1]}`)=number[1]
		li.page-item(class=`${number_active[2]}`)
			a.page-link(href=`gallery.html?p=${number[2]}`)=number[2]
		li.page-item(style=`display: ${arrow_disp[1]};`)
			a.page-link(href=`gallery.html?p=${plus_arrow}`, aria-label='Next')
				i.ti-angle-right
// footer start

// Include Page Footer		
+footer()