doctype html
html.no-js(lang='zxx')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		title See3D - Image Gallery
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// <link rel="manifest" href="site.webmanifest">
		// Place favicon.ico in the root directory
		// CSS here
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/owl.carousel.min.css')
		link(rel='stylesheet', href='css/magnific-popup.css')
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/themify-icons.css')
		link(rel='stylesheet', href='css/nice-select.css')
		link(rel='stylesheet', href='css/flaticon.css')
		link(rel='stylesheet', href='css/gijgo.css')
		link(rel='stylesheet', href='css/animate.min.css')
		link(rel='stylesheet', href='css/slick.css')
		link(rel='stylesheet', href='css/slicknav.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/addins.css')
		// <link rel="stylesheet" href="css/responsive.css">
	body
		//if lte IE 9
			p.browserupgrade
				| You are using an 
				strong outdated
				|  browser. Please 
				a(href='https://browsehappy.com/') upgrade your browser
				|  to improve your experience and security.
		// header-start
		header
			.header-area
				#sticky-header.main-header-area
					.container-fluid
						.header_bottom_border
							.row.align-items-center
								.col-xl-3.col-lg-2
									.logo
										a(href='index.html')
											img(src='img/logo.png', alt='See3D logo')
								.col-xl-6.col-lg-7
									.main-menu.d-none.d-lg-block
										nav
											ul#navigation
												li
													a(href='index.html') Home
												li
													a(href='team.html') Our Team
												li
													a(href='gallery.html') Photos
												//
													<li><a href="#">pages <i class="ti-angle-down"></i></a>
													<ul class="submenu">
													<li><a href="candidate.html">Candidates </a></li>
													<li><a href="job_details.html">job details </a></li>
													<li><a href="elements.html">elements</a></li>
													</ul>
													</li>
												li
													a(href='blog.html') Blog
												li
													a(href='contact.html') Contact
								.col-xl-3.col-lg-3.d-none.d-lg-block
									.Appointment
										.d-none.d-lg-block
											a.boxed-btn3(href='#') Request a Model
								.col-12
									.mobile_menu.d-block.d-lg-none
		// header-end
		// bradcam_area
		.bradcam_area.bradcam_bg_1
			.container
				.row
					.col-xl-12
						.bradcam_text
							h3 Gallery
		// / bradcam_area
		// about_start
		.popular_catagory_area
			.container
				.row.gallery-item
					.col-md-4
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[0])}' alt="#{arr_alt[0]}")
							.single-gallery-image(alt='#{arr_alt[0]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[0])}); display: #{display[0]};')
					.col-md-4
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[1])}' alt="#{arr_alt[1]}")
							.single-gallery-image(alt='#{arr_alt[1]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[1])}); display: #{display[1]};')
					.col-md-4
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[2])}' alt="#{arr_alt[2]}")
							.single-gallery-image(alt='#{arr_alt[2]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[2])}); display: #{display[2]};')
					.col-md-6
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[3])}' alt="#{arr_alt[3]}")
							.single-gallery-image(alt='#{arr_alt[3]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[3])}); display: #{display[3]};')
					.col-md-6
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[4])}' alt="#{arr_alt[4]}")
							.single-gallery-image(alt='#{arr_alt[4]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[4])}); display: #{display[4]};')
					.col-md-4
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[5])}' alt="#{arr_alt[5]}")
							.single-gallery-image(alt='#{arr_alt[5]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[5])}); display: #{display[5]};')
					.col-md-4
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[6])}' alt="#{arr_alt[6]}")
							.single-gallery-image(alt='#{arr_alt[6]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[6])}); display: #{display[6]};')
					.col-md-4
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[7])}' alt="#{arr_alt[7]}")
							.single-gallery-image(alt='#{arr_alt[7]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[7])}); display: #{display[7]};')
					.col-md-6
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[8])}' alt="#{arr_alt[8]}")
							.single-gallery-image(alt='#{arr_alt[8]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[8])}); display: #{display[8]};')
					.col-md-6
						a.img-pop-up(href='img/gallery/#{encodeURIComponent(filenames[9])}' alt="#{arr_alt[9]}")
							.single-gallery-image(alt='#{arr_alt[9]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[9])}); display: #{display[9]};')
		// about_end
		nav.blog-pagination.justify-content-center.d-flex(style='margin-bottom: 40px;')
			ul.pagination
				li.page-item(style='display: #{arrow_disp[0]};')
					a.page-link(href='gallery.html?p=#{minus_arrow}', aria-label='Previous')
						i.ti-angle-left
				li.page-item(class='#{number_active[0]}')
					a.page-link(href='gallery.html?p=#{number[0]}') #{number[0]}
				li.page-item(class='#{number_active[1]}')
					a.page-link(href='gallery.html?p=#{number[1]}') #{number[1]}
				li.page-item(class='#{number_active[2]}')
					a.page-link(href='gallery.html?p=#{number[2]}') #{number[2]}
				li.page-item(style='display: #{arrow_disp[1]};')
					a.page-link(href='gallery.html?p=#{plus_arrow}', aria-label='Next')
						i.ti-angle-right
		// footer start
		footer.footer
			.footer_top
				.container
					.row
						.col-xl-3.col-md-6.col-lg-3
							.footer_widget.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.3s')
								.footer_logo
									a(href='#')
										img(src='img/logo.png', alt='white See3D logo')
								p
									| info@see3d.org 
									br
									|                                 Columbus, Ohio
								.socail_links
									ul
										li
											a(aria-label='see3d facebook page', href='https://www.facebook.com/See3Dprintingfortheblind')
												i.ti-facebook
										li
											a(aria-label='see3d linkedin page', href='https://www.linkedin.com/company/34946156')
												i.fa.fa-linkedin
										li
											a(aria-label='see3d twitter page', href='https://twitter.com/See3Dprinting')
												i.fa.fa-twitter
										li
											a(aria-label='see3d instagram page', href='https://www.instagram.com/see.3d/')
												i.fa.fa-instagram
						.col-xl-2.col-md-6.col-lg-2
							.footer_widget.wow.fadeInUp(data-wow-duration='1.1s', data-wow-delay='.4s')
								h3.footer_title
									| Company
								ul
									li
										a(href='team.html') Our Team 
									li
										a(href='gallery.html')  Photos
									li
										a(href='blog.html') Blog
									li
										a(href='contact.html') Contact
						.col-xl-3.col-md-6.col-lg-3
							.footer_widget.wow.fadeInUp(data-wow-duration='1.2s', data-wow-delay='.5s')
								h3.footer_title
									| Category
								ul
									li
										a(href='about.html') About
									li
										a(href='get_involved.html') Get Involved
									li
										a(href='request.html') Request a Model
									li
										a(href='donate.html') Donate
						.col-xl-4.col-md-6.col-lg-4
							.footer_widget.wow.fadeInUp(data-wow-duration='1.3s', data-wow-delay='.6s')
								h3.footer_title
									| Subscribe
								form.newsletter_form(aria-label='form to subscribe to see3d blog', action='subscribe')
									input(aria-label='email text input field', type='text', placeholder='Enter your e-mail')
									button(aria-label='submit button to add to blog mailing list', type='submit') Subscribe
								p.newsletter_text Subscribe to our Blog
			.copy-right_text.wow.fadeInUp(data-wow-duration='1.4s', data-wow-delay='.3s')
				.container
					.footer_border
					.row
						.col-xl-12
							p.copy_right.text-center
								// Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
								| Copyright ©
								script.
									document.write(new Date().getFullYear());
								|  All rights reserved | This template is made with 
								i.fa.fa-heart-o(aria-hidden='true')
								|  by 
								a(href='https://colorlib.com', target='_blank') Colorlib
								// Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
								// / footer end
								// JS here
								script(src='js/vendor/modernizr-3.5.0.min.js')
								script(src='js/vendor/jquery-1.12.4.min.js')
								script(src='js/popper.min.js')
								script(src='js/bootstrap.min.js')
								script(src='js/owl.carousel.min.js')
								script(src='js/isotope.pkgd.min.js')
								script(src='js/ajax-form.js')
								script(src='js/waypoints.min.js')
								script(src='js/jquery.counterup.min.js')
								script(src='js/imagesloaded.pkgd.min.js')
								script(src='js/scrollIt.js')
								script(src='js/jquery.scrollUp.min.js')
								script(src='js/wow.min.js')
								script(src='js/nice-select.min.js')
								script(src='js/jquery.slicknav.min.js')
								script(src='js/jquery.magnific-popup.min.js')
								script(src='js/plugins.js')
								script(src='js/gijgo.min.js')
								// contact js
								script(src='js/contact.js')
								script(src='js/jquery.ajaxchimp.min.js')
								script(src='js/jquery.form.js')
								script(src='js/jquery.validate.min.js')
								script(src='js/mail-script.js')
								script(src='js/main.js')
