// Includes for page layout and individual widgets
include ./layout.jade
include ./mixins.jade

+header("See3D - Gallery", "Photo Gallery")

// / bradcam_area
// about_start
.popular_catagory_area
	.container
		.row.gallery-item
			.col-md-4
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[0])}' alt="#{arr_alt[0]}")
					.single-gallery-image(alt='#{arr_alt[0]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[0])}); display: #{display[0]};')
			.col-md-4
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[1])}' alt="#{arr_alt[1]}")
					.single-gallery-image(alt='#{arr_alt[1]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[1])}); display: #{display[1]};')
			.col-md-4
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[2])}' alt="#{arr_alt[2]}")
					.single-gallery-image(alt='#{arr_alt[2]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[2])}); display: #{display[2]};')
			.col-md-6
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[3])}' alt="#{arr_alt[3]}")
					.single-gallery-image(alt='#{arr_alt[3]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[3])}); display: #{display[3]};')
			.col-md-6
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[4])}' alt="#{arr_alt[4]}")
					.single-gallery-image(alt='#{arr_alt[4]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[4])}); display: #{display[4]};')
			.col-md-4
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[5])}' alt="#{arr_alt[5]}")
					.single-gallery-image(alt='#{arr_alt[5]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[5])}); display: #{display[5]};')
			.col-md-4
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[6])}' alt="#{arr_alt[6]}")
					.single-gallery-image(alt='#{arr_alt[6]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[6])}); display: #{display[6]};')
			.col-md-4
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[7])}' alt="#{arr_alt[7]}")
					.single-gallery-image(alt='#{arr_alt[7]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[7])}); display: #{display[7]};')
			.col-md-6
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[8])}' alt="#{arr_alt[8]}")
					.single-gallery-image(alt='#{arr_alt[8]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[8])}); display: #{display[8]};')
			.col-md-6
				a.img-pop-up(aria-label='View Image in Gallery Viewer', href='img/gallery/#{encodeURIComponent(filenames[9])}' alt="#{arr_alt[9]}")
					.single-gallery-image(alt='#{arr_alt[9]}' style='background: url(img/gallery/#{encodeURIComponent(filenames[9])}); display: #{display[9]};')
// about_end
nav.blog-pagination.justify-content-center.d-flex(style='margin-bottom: 40px;')
	ul.pagination
		li.page-item(style='display: #{arrow_disp[0]};')
			a.page-link(href='gallery.html?p=#{minus_arrow}', aria-label='Previous')
				i.ti-angle-left
		li.page-item(class='#{number_active[0]}')
			a.page-link(href='gallery.html?p=#{number[0]}') #{number[0]}
		li.page-item(class='#{number_active[1]}')
			a.page-link(href='gallery.html?p=#{number[1]}') #{number[1]}
		li.page-item(class='#{number_active[2]}')
			a.page-link(href='gallery.html?p=#{number[2]}') #{number[2]}
		li.page-item(style='display: #{arrow_disp[1]};')
			a.page-link(href='gallery.html?p=#{plus_arrow}', aria-label='Next')
				i.ti-angle-right
// footer start

// Include Page Footer		
+footer()