//Widget Mixins

// Creates a card like that seen in the model kit section on the home page with a learning guide link
// Text to display, Thingiverse Link for model Kit, Link to refer to, Alt text for image, Link to learning guide
mixin model_kit(title, thingiverse_link, image_link, alt_text, learning_guide, brf_learning_guide)
  style.
    .title h4 {
      color: #005999 !important;
    }
    .learning-guide h5 {
      color: black !important
    }
    .title h4:hover {
      color: #7cc8ff !important;
    }
    .learning-guide h5:hover {
      color: #7cc8ff !important;
    }

  .col-lg-4.col-xl-3.col-md-6
    .single_catagory
      a(href=thingiverse_link, class="title")
        h4&attributes(attributes)=title
      if learning_guide
        a(href=learning_guide, class="learning-guide")
          h5(style='margin-top: 10px;') Word Doc Learning Guide
      if brf_learning_guide 
        a(href=brf_learning_guide, class="learning-guide")
          h5(style='margin-top: 10px;') BRF Learning Guide
      img(src=image_link, alt=alt_text)
      

// Creates a card like that seen in the news section on the home page
// Text to display, Link to refer to
mixin link_card(title, link)
  .col-lg-4.col-xl-3.col-md-6
    .single_catagory
      a(href=link, target='_blank')
        h4&attributes(attributes)=title

      // optional extra text
      // <p> <span>50</span> Available position</p>

mixin donator(image, alt_text, website, name)
  .single_candidates.text-center
    .thumb
      img(src=image, alt=alt_text)
    a(href=website)
      h4&attributes(attributes)=name 
    
    // optional extra text
    // <p>Software Engineer</p>

mixin team_member(image, alt_text, name, occupation)
  style.
    .row-team {
      margin-bottom: 40px;
    }
  .row-team
    .col-lg-11
      .single_testmonial.d-flex.align-items-center
        .thumb
          img(src=image, alt=alt_text)
          .quote_icon
            i.Flaticon.flaticon-quote
        .info
          h2&attributes(attributes)=name
          span&attributes(attributes)=occupation
          .footer.footer-rst
            .socail_links(style='margin-top: 20px;')
              ul.team_social
                // Social Link Button Addon
                //
                  <li>
                  <a style="border-color: #005999 !important;" aria-label="Emily Kiehl linkedin" href="https://www.linkedin.com/in/emily-k-a1043313a/">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  </li>
                //
                  <li>
                  <a style="border-color: #005999 !important;" aria-label="Emily Kiehl Resumé coming soon" href="#">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                  </a>
                  </li>